// Place all the styles related to the Stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row-column{
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}

.row-head{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #365899;
  color: white;
  text-align: center;
}
.container{
  padding-bottom: 20px;
}
.chart{
  padding-bottom: 50px;
  padding-top: 20px;
}